NEXT_PUBLIC_CONTRACT_ADDRESS=0xa08EAd22DDa99A87C99E3DE84E13A6556079DE62
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BUILDER_CODE=bc_unphxn50
NEXT_PUBLIC_BASE_APP_ID=6a641b2d281b6db318994b35
NEXT_PUBLIC_DATA_SUFFIX=
